@use '../mixins/responsive.scss' as *;
@use '../functions/image.scss' as *;

.article {
    padding: 1.5rem;
    margin-bottom: 120px;
    position: relative;

    @include responsive(desktop) {
        display: flex;
        padding: 54px 2rem 54px 7.5rem;
        justify-content: space-between;
    }

    &--reverse {
        @include responsive(desktop) {
            flex-direction: row-reverse;
        }
    }

    &__pic {
        @include responsive(desktop) {
            width: 400px;
        }
    }

    &__info {
        @include responsive(desktop) {
            width: 500px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}

.article-small {
    margin-bottom: 160px;

    @include responsive(desktop) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 325px;
    }
}

.first-section,
.last-section {
    background-color: var(--very-pale-blue);

}

.first-section::before,
.first-section::after,
.last-section::before,
.last-section::after {
    content: '';
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    left: 0;
}

.first-section::before,
.last-section::before {
    top: 0;
    transform: translateY(-100%);
}

.first-section::after,
.last-section::after {
    bottom: 0;
    transform: translateY(100%);
}

.first-section::before {
    background-image: image("bg-section-top-mobile-1.svg");
    height: 112px;


    @include responsive(desktop) {
        background-image: image("bg-section-top-desktop-1.svg");
        height: 165px;
    }
}

.first-section::after {
    background-image: image("bg-section-bottom-mobile-1.svg");
    height: 112px;


    @include responsive(desktop) {
        background-image: image("bg-section-bottom-desktop-1.svg");
        height: 165px;
    }
}

.last-section::before {
    height: 103px;
    background-image: image("bg-section-top-mobile-2.svg");


    @include responsive(desktop) {
        background-image: image("bg-section-top-desktop-2.svg");
        height: 156px;
    }
}

.last-section::after {
    background-image: image("bg-section-bottom-mobile-2.svg");
    height: 101px;


    @include responsive(desktop) {
        background-image: image("bg-section-bottom-desktop-2.svg");
        height: 165px;

    }
}