@use '../mixins/responsive.scss' as *;

.diagram {

    margin-inline: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 280px;

    @include responsive(desktop) {
        width: 880px;
        flex-direction: row;
        justify-content: space-between;
    }

    &__number {
        margin: 12px 0;
        font-size: 6rem;
        font-weight: 700;
        color: var(--dark-cyan);
    }

    &__text {
        text-align: center;
        margin: 0;
        font-size: 1.5rem;
        color: var(--grayishblue);
    }
}