@use '../mixins/responsive.scss' as *;

.diagram {
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 280px;
    width: 160px;
    gap: 5.5rem;

    @include responsive(desktop) {
        width: 880px;
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }

    &__icon {
        width: 36px;

        @include responsive(desktop) {
            width: 56px
        }
    }

    &__number {
        margin: 12px 0;
        font-size: 3.8rem;
        font-weight: 700;
        color: var(--dark-cyan);

        @include responsive(desktop) {
            font-size: 6rem;
        }
    }

    &__text {
        text-align: center;
        margin: 0;
        font-size: 0.9rem;
        color: var(--grayishblue);

        @include responsive(desktop) {
            font-size: 1.5rem;
        }
    }
}