@use '../mixins/responsive.scss' as *;

.header {
    padding: 1rem 1rem 2rem;
    text-align: center;

    @include responsive(desktop) {
        padding: 5rem 5rem 0;
        margin-bottom: 10rem;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include responsive(desktop) {
            margin-bottom: 14rem;
        }
    }

    &__text {
        text-align: center;
        padding: 0 20px;

        @include responsive(desktop) {
            font-size: 1.25rem;
            line-height: 1.5;
            margin-inline: auto;
            width: 600px;
            padding: 0;
        }
    }

    &__image {
        max-width: 296px;
        margin-inline: auto;

        @include responsive(desktop) {
            max-width: 64rem;
        }
    }
}