@use '../mixins/responsive.scss' as *;

h1,
h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.header__title {
    font-family: 'Poppins', sans-serif;
    padding: 7rem 2rem 1rem;
    text-align: center;
    font-size: 1.5rem;

    @include responsive(desktop) {
        padding: 0;
        margin: 0;
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.5;
    }
}

.article__title {
    font-size: 1.2rem;
    text-align: center;

    @include responsive(desktop) {
        font-size: 2.5rem;
        text-align: left;
    }
}

.article-small__title {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 40px;

    @include responsive(desktop) {
        font-size: 2.5rem;
        margin-top: 0;
        margin-bottom: 2.5rem;
    }
}